{% extends 'app/base.html' %}

{% block title %}首頁{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/app/index.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- 宣傳hero -->
<section class="hero-section" id="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-4 fw-bold mb-3">Code Me Maybe 碼上學</h1>
                <p class="lead mb-4">Code me maybe? 陪你『碼上學』，輕鬆掌握程式新技能。</p>
                <a href="https://line.me/ti/g2/JIZNLOXW3xlYPIdfZBVNLgsSKcf5EQZR2B3wLA?utm_source=invitation&utm_medium=link_copy&utm_campaign=default" class="btn btn-primary btn-lg">加入討論社群</a>
                <a href="{{ url_for('course_list') }}" class="btn btn-outline-primary btn-lg">查看最新課程</a>
                
            </div>
            <div class="col-lg-5 offset-lg-1 mb-4 mb-lg-0 text-center text-lg-start">
                <img src="{{ url_for('static', filename='img/hero.png') }}" alt="Code Me Maybe 碼上學" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- 最新消息 -->
<section class="bg-white" id="news-section">
    <div class="container">
        <h2 class="section-title">最新消息</h2>

        <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
            <!-- 輪播內容 -->
            <div class="carousel-inner text-center mb-4">
                
                <div class="carousel-item active">
                    <div class="card mx-auto" style="max-width: 600px;">
                        <div class="card-body">
                            <span class="news-date d-block mb-2"></span>
                            <h5 class="card-title fs-4"></h5>
                            <p class="card-text fs-5"></p>
                            <a href="" class="btn btn-sm btn-outline-primary">閱讀更多</a>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- 圓點指示器放在下方 -->
            <div class="carousel-indicators position-static justify-content-center">
                
                <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to=""
                    class="" aria-current=""
                    aria-label="第  則">
                </button>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}