{% extends 'app/base.html' %}

{% block title %}{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/news_item.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<!-- 單則新聞內容 -->
<section class="p-5 bg-white mx-5">
    <div class="container px-5">
        <div class="card mx-5 p-4">
            <!-- 新聞標題區塊 -->
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="section-title mb-1">{{ news_item.title }}</h2>
                <div>
                    <!-- 小標籤區 -->
                    <div class="d-flex align-items-center gap-3 mt-2">
                        <span class="badge bg-primary text-white">
                            <i class="bi bi-person-circle me-1"></i>
                        </span>
                        <span class="badge bg-secondary text-white">
                            <i class="bi bi-calendar-event me-1"></i>
                        </span>
                        <span class="badge bg-info text-white">
                            <i class="bi bi-eye me-1"></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- 新聞內容 -->
            <div class="card-body">
                <p class="card-text fs-4"></p>
                
                {% if news_item.link %}
                <a href="{{ news_item.link }}" class="btn btn-outline-primary" target="_blank">相關連結</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}