{% extends "liff/base.html" %}
{% block title %}個人資料{% endblock %}
{% block head %}
<script>
    let user_info = JSON.parse('{{ user_info|tojson|safe }}')
    let user_yt = JSON.parse('{{ user_yt|tojson|safe }}')
</script>
<script src="{{ url_for('static', filename='js/liff/userinfo.js') }}"></script>
{% endblock %}

{% block content %}
<form class="needs-validation" novalidate>
    <div class="container-fluid py-4">
        <h4 class="border-bottom pb-2">一、身份選擇</h4>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label for="identity" class="form-label">身份<span style="color: red;">*</span></label>
                <select id="identity" class="form-select" required {{ 'disabled' if user_info.verification else '' }}>
                    <option value="" selected disabled>請選擇身份</option>
                    <option value="國北教大學生">國北教大學生</option>
                    <option value="國北教大教職員">國北教大教職員</option>
                    <option value="校外學生">校外學生</option>
                    <option value="社會人士">社會人士</option>
                </select>
                <div class="invalid-feedback">
                    請選擇身份
                </div>
            </div>
        </div>

        <h4 class="border-bottom pb-2">二、基本資料</h4>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label for="name" class="form-label">姓名<span style="color: red;">*</span></label>
                <input type="text" id="name" class="form-control" value="{{ user_info.name }}" required {{ 'disabled' if user_info.verification else '' }}>
                <div class="invalid-feedback">
                    姓名欄位必填
                </div>
            </div>
            <div class="col-md-6">
                <label for="gender" class="form-label">性別<span style="color: red;">*</span></label>
                <select id="gender" class="form-select" required {{ 'disabled' if user_info.verification else '' }}>
                    <option value="" selected disabled>請選擇生理性別</option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
                <div class="invalid-feedback">
                    性別必填
                </div>
            </div>
        </div>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label for="email" class="form-label">Email<span style="color: red;">*</span></label>
                <input type="email" id="email" class="form-control" value="{{ user_info.email }}" required>
                <div class="invalid-feedback">
                    Email欄位必填
                </div>
            </div>
            <div class="col-md-6">
                <label for="phone" class="form-label">手機<span style="color: red;">*</span></label>
                <input type="text" id="phone" class="form-control" value="{{ user_info.phone }}" maxlength="10" minlength="10" required>
                <div class="invalid-feedback">
                    手機號碼格式錯誤
                </div>
            </div>
        </div>

        <h4 class="border-bottom pb-2">三、學術或工作機構</h4>
        <!-- 學生資料區塊 -->
        <div id="ntueStudentFields" class="d-none">
            <div class="row g-3 mb-4">
                <div class="col-md-6">
                    <label for="studentId" class="form-label">學號<span style="color: red;">*</span></label>
                    <input type="text" id="studentId" class="form-control" value="{{ user_info.studentId }}" maxlength="9" minlength="9" required {{ 'disabled' if user_info.verification else '' }}>
                    <div class="invalid-feedback">
                        學號必填或學號格式錯誤
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="college" class="form-label">學院<span style="color: red;">*</span></label>
                    <select id="college" class="form-select" required {{ 'disabled' if user_info.verification else '' }}>
                        <option value="" selected disabled>請選擇學院</option>
                        <option value="教育學院">教育學院</option>
                        <option value="理學院">理學院</option>
                        <option value="人文藝術學院">人文藝術學院</option>
                        <option value="國際學位學程">國際學位學程</option>
                    </select>
                    <div class="invalid-feedback">
                        學院欄位必填
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="department" class="form-label">系所<span style="color: red;">*</span></label>
                    <select id="department" class="form-select" required {{ 'disabled' if user_info.verification else '' }}>
                        <option value="" selected disabled>請選擇系所</option>
                    </select>
                    <div class="invalid-feedback">
                        系所欄位必填
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="grade" class="form-label">年級<span style="color: red;">*</span></label>
                    <select id="grade" class="form-select" required {{ 'disabled' if user_info.verification else '' }}>
                        <option value="" selected disabled>請選擇年級</option>
                        <option value="大一">大一</option>
                        <option value="大二">大二</option>
                        <option value="大三">大三</option>
                        <option value="大四">大四</option>
                        <option value="碩士班">碩士班</option>
                        <option value="博士班">博士班</option>
                    </select>
                    <div class="invalid-feedback">
                        年級欄位必填
                    </div>
                </div>
            </div>
        </div>

        <!-- 外部學生資料區塊 -->
        <div id="externalStudentFields" class="d-none">
            <div class="row g-3 mb-4">
                <div class="col-md-6">
                    <label for="schoolName" class="form-label">學校名稱<span style="color: red;">*</span></label>
                    <input type="text" id="schoolName" class="form-control" required>
                    <div class="invalid-feedback">
                        學校名稱必填
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="extDepartment" class="form-label">系所<span style="color: red;">*</span></label>
                    <input type="text" id="extDepartment" class="form-control" required>
                    <div class="invalid-feedback">
                        系所欄位必填
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="extGrade" class="form-label">年級<span style="color: red;">*</span></label>
                    <input type="text" id="extGrade" class="form-control" required>
                    <div class="invalid-feedback">
                        年級欄位必填
                    </div>
                </div>
            </div>
        </div>

        <!-- 社會人士資料區塊 -->
        <div id="socialIndividualFields" class="d-none">
            <div class="row g-3 mb-4">
                <div class="col-md-6">
                    <label for="organization" class="form-label">所屬單位名稱<span style="color: red;">*</span></label>
                    <input type="text" id="organization" class="form-control" required>
                    <div class="invalid-feedback">
                        所屬單位名稱必填
                    </div>
                </div>
            </div>
        </div>

        <!-- YT訂閱資料區塊 -->
        <h4 class="border-bottom pb-2">四、YT訂閱帳號與會員等級</h4>
        <div id="ytSubscriptionFields">
            <div class="row g-3 mb-4">
                <div class="col-md-6">
                    <label for="ytChannel" class="form-label">YT頻道名稱</label>
                    <input type="text" id="ytChannel" class="form-control">
                    <div class="invalid-feedback">
                        YT頻道名稱必填
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="ytLevel" class="form-label">YT會員等級(若此會員等級與您現在的YT帳號會員等級不符可以在聊天室上傳截圖)</label>
                    <select id="ytLevel" class="form-select" disabled>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-success" id="submitBtn">送出</button>
                <button class="btn btn-success" id="loadBtn" type="button" disabled class="d-none">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    處理中...
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}